h5py
numpy
cloud-volume
torch
torchvision
git+https://github.com/supersergiy/modelhouse.git
#modelhouse
scikit-image
artificery
#torchfields
git+https://github.com/seung-lab/torchfields.git
jupyterlab
ipywidgets
pandas
