h5py
numpy
cloud-volume
torch
torchvision
scikit-image
git+https://github.com/supersergiy/artificery.git
git+https://github.com/supersergiy/modelhouse.git
git+https://github.com/seung-lab/torchfields.git
jupyterlab
ipywidgets
pandas
